<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'images/favicon/favicon.ico' | relative_url}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	  <link rel="stylesheet" type="text/css" 
    href="{{ 'study-cohort-ontology/bootstrap/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}"/>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	  <title>Making Study Populations Visible through Knowledge Graphs</title>
	  <div class="w3-container top" style="background:url({{'images/medical-banner-4.jpg' | relative_url}});background-size:cover;
  box-shadow:inset 0 0 0 2000px rgba(200, 247, 197, 0.3);">
  <br>
  <br>
  <br>
  <h1 class="header" style="text-align:center;box-shadow:inset 0 0 0 2000px rgba(200, 247, 197, 0.8);">{{ site.title | default: site.github.repository_name }}</h1>
  <p class="header" style="text-align:center;box-shadow:inset 0 0 0 2000px rgba(200, 247, 197, 0.8);">{{ site.description | default: site.github.project_tagline }}</p>
  <br>
  <br>
		  <p style="text-align:right"><sup>*</sup>This image was taken from: https://www.policyschool.ca/background-banner/health-policy/health-banner/</p>
</div>
  
  </head>
  <body>
    <div class="wrapper">
      <header style="background-color:#8DE3CE;">
        <ul class="navbar-nav" style="background-color:#8DE3CE;">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/index"><strong>Home</strong></a>
	    </li>
	    <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/papers-used"><strong>Evaluation Dataset</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/ontology-resource"><strong>Ontologies</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/knowledge-graph"><strong>Knowledge Graph</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/application"><strong>Application</strong></a>
            </li>
<!--             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/contact"><strong>Contact</strong></a>
            </li> -->
        </ul>
        
          </head>

      </header>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
